apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sc06-helm-nginx
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: nginx
    targetRevision: "*"
    helm:
      releaseName: sc06-nginx
      values: |
        replicaCount: 2
        service:
          type: ClusterIP
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd-sc-06
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
