# k8s-scenarios/03-vpa-config/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vpa-demo-app
  namespace: scenarios
  labels:
    app: vpa-demo
    scenario: "03"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vpa-demo
  template:
    metadata:
      labels:
        app: vpa-demo
    spec:
      containers:
      - name: application
        image: k8s.gcr.io/hpa-example
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 100m
            memory: 50Mi
          limits:
            cpu: 500m
            memory: 500Mi
