---
- name: Deploy nginx configuration from template
  hosts: webservers
  become: yes
  tasks:
    - name: Deploy nginx.conf
      template:
        src: templates/nginx.conf.j2
        dest: /etc/nginx/nginx.conf
        owner: root
        group: root
        mode: '0644'
        backup: yes
