# k8s-scenarios/13-blue-green-deployment/deployment-blue.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bluegreen-blue
  namespace: scenarios
  labels:
    app: bluegreen
    version: blue
spec:
  replicas: 3
  selector:
    matchLabels:
      app: bluegreen
      version: blue
  template:
    metadata:
      labels:
        app: bluegreen
        version: blue
    spec:
      containers:
      - name: app
        image: nginx:1.20-alpine
        ports:
        - containerPort: 80
        env:
        - name: VERSION
          value: "blue"
