# k8s-scenarios/16-node-affinity/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: affinity-demo-app
  namespace: scenarios
  labels:
    app: affinity-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: affinity-demo
  template:
    metadata:
      labels:
        app: affinity-demo
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: disktype
                operator: In
                values:
                - ssd
      containers:
      - name: nginx
        image: nginx:1.21-alpine
        ports:
        - containerPort: 80
