# existing-deployment.yaml
# This represents a resource that was deployed manually with kubectl.
# It has NO Helm annotations or labels -- it is not managed by Helm.
apiVersion: apps/v1
kind: Deployment
metadata:
  name: adopted-app
  namespace: helm-scenarios
  labels:
    app: adopted-app
    version: "v1"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: adopted-app
  template:
    metadata:
      labels:
        app: adopted-app
        version: "v1"
    spec:
      containers:
        - name: nginx
          image: nginx:1.24-alpine
          ports:
            - containerPort: 80
              protocol: TCP
          resources:
            requests:
              cpu: 25m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 128Mi
