apiVersion: apps/v1
kind: Deployment
metadata:
  name: autosync-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: autosync-app
  template:
    metadata:
      labels:
        app: autosync-app
    spec:
      containers:
        - name: autosync-app
          image: nginx:1.21-alpine
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"
