apiVersion: v1
kind: Service
metadata:
  name: wave-service
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  type: ClusterIP
  selector:
    app: wave-app
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
