apiVersion: apps/v1
kind: Deployment
metadata:
  name: pipeline-demo
  namespace: gitlab-ci-scenarios
  labels:
    app: pipeline-demo
    scenario: "01-pipeline-fundamentals"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: pipeline-demo
  template:
    metadata:
      labels:
        app: pipeline-demo
    spec:
      containers:
        - name: app
          image: nginx:1.25-alpine
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: pipeline-demo
  namespace: gitlab-ci-scenarios
  labels:
    app: pipeline-demo
spec:
  selector:
    app: pipeline-demo
  ports:
    - port: 80
      targetPort: 80
